```html
{% extends 'conferencing/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'conferencing/css/styles.css' %}">
<div id="video_container"></div>
<div id="controls">
    <button id="leaveBtn">Leave</button>
    <button id="camBtn" disabled>Turn On Cameraaaaaaaaaaaaa</button>
    <button id="micBtn" disabled>Turn On Mic</button>
    <button id="detectBtn" disabled>Detect Sign Language</button>
</div>
<div id="subtitle">Translation: [None]</div>

<script src="https://cdn.agora.io/sdk/release/AgoraRTC_N-4.19.0.js?nocache=202503162"></script>
<script src="https://docs.opencv.org/4.x/opencv.js" async></script>
<script src="{% static 'conferencing/js/script.js' %}"></script>
{% endblock %}
```