{% extends 'conferencing/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'conferencing/css/home.css' %}">
<h2 id="title">Join a Video Call</h2>
<div id="joinSection">
    <form id="roomForm" method="GET">
        <div>
            <label for="userName">Enter Name:</label>
            <input type="text" id="userName" name="userName" placeholder="Your Name" required>
        </div>
        <div>
            <label for="roomName">Enter Room Name:</label>
            <input type="text" id="roomName" name="roomName" placeholder="Room Name" required>
        </div>
        <button type="submit">Join</button>
    </form>
</div>
<div id="roomSection" style="display: none;">
    <div id="video_container"></div>
    <div id="controls">
        <button id="leaveBtn">Leave</button>
        <button id="camBtn" disabled>Turn On Camera</button>
        <button id="micBtn" disabled>Turn On Mic</button>
        <button id="detectBtn" disabled>Detect Sign Language</button>
    </div>
    <div id="subtitle">Translation: [None]</div>
</div>

<script src="https://cdn.agora.io/sdk/release/AgoraRTC_N-4.19.0.js?nocache=202503162"></script>
<script src="https://docs.opencv.org/4.x/opencv.js" async></script>
<script src="{% static 'conferencing/js/home.js' %}">
</script>

{% endblock %}